    <!-- <div class="navbar-header">
      <a routerLink="/books" class="navbar-brand">Book Shelf</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/book-create">Add Books</a></li>
        <li routerLinkActive="active"><a routerLink="">Sign Up</a></li>
        <li routerLinkActive="active">Sign In</li>
      </ul>
    </div> -->
    <mat-toolbar color="primary">
      <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="BOOK SHELF"></button>
    </mat-toolbar>
    <div class="menu-first" style="border-bottom: 0.5px solid black;">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu class="menu-button" #menu="matMenu" [overlapTrigger]="false">
        <button class="menu-button" mat-menu-item routerLink="/books" color="primary">Home</button>
        <button class="menu-button" mat-menu-item routerLink="/book-create" color="primary">Add Books</button>
      </mat-menu>
    </div>

    <p-dialog header="How does Book Shelf work?" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
        <span>
          Book Shelf is an app that helps add/edit/delete/view the books in/from the database. Also, it provides with
          the analytics section. The analytics section helps analyse the books stored in the database. Here, it helps
          analysing the books based on availability and genre.
        </span>
            <p-footer>
                <button type="button" pButton icon="fa-check" (click)="display=false" label="Got It!"></button>
            </p-footer>
    </p-dialog>
