<!-- This template shows the charts -->
<div class="ui-g">
<mat-drawer-container class="example-container" style="background-color:#3f51b5;">
  <mat-drawer mode="side" opened="true" style="background-color:#3f51b5;">
    <div class="ui-g">
      <mat-list>
        <mat-list-item style="cursor:pointer;color:white;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/book-create">Add Books</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="cursor:pointer;color:white;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/books/charts">Analysis</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-drawer>
    <mat-drawer-content style="background-color: white;">
      <mat-card style="margin: 10px 200px 10px 100px;border: 0.1px solid;">
        <h2>BOOKS ANALYTICS</h2>
      <div class="ui-g">
        <div class="ui-g-12">

          <button mat-button style="border: 1px solid;" color="primary" (click)="getChartAsPerGenre('availability')">AVAILABILITY STATISTICS</button>
          <button mat-button style="border: 1px solid;" color="primary" (click)="getChartAsPerGenre('genre')">GENRE STATISTICS</button>

        </div>
        <div class="ui-g-12">
          <p-chart type="pie" [data]="data" [options]="options"></p-chart>
        </div>
      </div>
    </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
</div>
